audio controls {
    display:none;
    }

body {
    background-color: mintcream;
    }

#piano {
    position: relative;
    height: 700px;
    width: 1000px;
    padding-left: 5em;
       }
       
#sheetmusic {
    margin-left: 17em;
    border: ridge;
    border-color: gray;
    }

h1 {
   font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
   font-size: 150%;
   margin-left: 20em;
   }
   
h2  { 
   font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
   font-size: 100%;
   margin-left: 10em;
   }
   
#top {
    position: relative;
    width: 926px;
    height: 120px;
    background-image: url('wood.jpg');
    border: 1px solid black;
    }


.white {
    position: relative;
    border: 1px solid black;
    width:30px;
    height:170px;
    background-color: white;
    float: left;
    clear: right;
        }

.black {
    position: absolute;
    width: 18px;
    height: 107px;
    background-color: black;
    float: left;
} 

#c-sh {
    position: absolute;
    margin-left: 22px;
    }

#d-sh {
    position: absolute;
    margin-left: 55px;
    }

#f-sh {
    position: absolute;
    margin-left: 118px;
    }
    
#g-sh {
    position: absolute;
    margin-left: 151px;
    }
    
#a-sh {
    position: absolute;
    margin-left: 184px;
    }
    
#c1-sh {
    position: absolute;
    margin-left: 247px;
    }
    
#d1-sh {
    position: absolute;
    margin-left: 280px;
    }
    
#f1-sh {
    position: absolute;
    margin-left: 343px;
    }
    
#g1-sh {
    position: absolute;
    margin-left: 376px;
    }
    
#a1-sh {
    position: absolute;
    margin-left: 408px;
    }
    
#c2-sh {
    position: absolute;
    margin-left: 472px;
    }
    
#d2-sh {
    position: absolute;
    margin-left: 504px;
    }
    
#f2-sh {
    position: absolute;
    margin-left: 568px;
    }
    
#g2-sh {
    position: absolute;
    margin-left: 600px;
    }
    
#a2-sh {
    position: absolute;
    margin-left: 632px;
    }
    
#c3-sh {
    position: absolute;
    margin-left: 695px;
    }
    
#d3-sh {
    position: absolute;
    margin-left: 727px;
    }
    
#f3-sh {
    position: absolute;
    margin-left: 791px;
    }
    
#g3-sh {
    position: absolute;
    margin-left: 823px;
    }
    
#a3-sh {
    position: absolute;
    margin-left: 855px;
    }
    


